/* This ensures that all children of form-wrapper (including form-container) are centered */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px); /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  padding: 20px;
  box-sizing: border-box;
  position: relative; /* Added to ensure proper positioning */

  /* This will center the content horizontally and manage the width of the form */
  .form-container {
    padding: 2em;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #1371dd2d;
    box-shadow: 0 0 10px 5px #1371dd23;
  }

  /* Styles for form title */
  .form-title {
    display: block;
    color: #1371dd;
    font-size: 15px;
    font-weight: 500;
  }

  .input-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #1371dd;
    font-size: 18px;
  }

  .input-group input {
    width: calc(100% - 1em); /* Subtract padding from the width */
    margin-bottom: 1em;
    padding: 0.5em;
    padding-left: 15px;
    border: 1px solid #1371dd6c;
    border-radius: 7px;
    font-size: 16px;
    line-height: 1.5;
    outline: none;
    background-color: transparent;
    color: var(--app-dark-color);
    transition: all 0.3s ease;
    font-family: var(--app-font);

    &:disabled {
      background-color: rgba(255, 255, 255, 0.116) !important;
      border-color: rgba(255, 255, 255, 0.288) !important;
    }
  }

  .input-group input:focus {
    border-color: var(--app-purple);
    box-shadow: 0 0 3px 2px #646cff30;
  }

  .input-group input::placeholder,
  .input-group textarea::placeholder {
    color: #888;
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  
  .input-group {
    .symbol-label {
      display: flex !important;
      align-items: center;
      gap: 4px;
      position: relative;
      cursor: pointer;
      width: fit-content;

      svg {
        height: 17px;
        width: 17px;
      }

      &::after {
        content: "The Symbol must be 12 characters: a 10-character NFT Seed Token Symbol (e.g., FDABSXUJAZ) plus a unique integer ID. For an NFT Collection, the ID is always 0 (e.g., FDABSXUJAZ-0). For an NFT Token, the ID can be any integer except 0.";
        position: absolute;
        width: 300px;
        top: 0;
        left: calc(100% + 170px);
        transform: translateX(-50%);
        background-color: #808080;
        padding: 10px 15px;
        background-color: white;
        border-radius: 15px;
        border: 1px solid #1371dd2d;
        box-shadow: 0 0 5px 2px #1371dd23;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s, visibility 0.4s;
        font-size: 12px;
        z-index: 10;
        text-wrap: wrap;
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}